In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Define the list of tickers for the Dow Jones companies
tickers = ['AAPL', 'AMGN', 'AXP', 'BA', 'CAT', 'CRM', 'CSCO', 'CVX', 'DIS', 'DOW', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO', 'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PG', 'TRV', 'UNH', 'V', 'VZ', 'WBA', 'WMT']

# Fetch the data for the tickers from Yahoo Finance
data = yf.download(tickers, start='2000-01-01', end='2023-01-01')

# Save the data as a pickle file
data.to_pickle('dow_jones_data.pkl')

# Load the data from the pickle file
data = pd.read_pickle('dow_jones_data.pkl')

[*********************100%%**********************]  30 of 30 completed

In [3]:
data

             Adj Close                                                  \
                  AAPL        AMGN         AXP          BA         CAT
Date
2000-01-03    0.848323   45.956356   33.063004   25.940285   12.968646
2000-01-04    0.776801   42.442322   31.814600   25.899927   12.801950
2000-01-05    0.788168   43.902687   31.006527   27.513634   13.101998
2000-01-06    0.719961   44.632881   31.638247   27.796043   13.768767
2000-01-07    0.754065   49.652946   32.098866   28.602907   14.218842
...                ...         ...         ...         ...         ...
2022-12-23  131.299820  257.084625  144.877304  189.059998  235.057938
2022-12-27  129.477585  256.568359  144.256470  189.399994  238.262344
2022-12-28  125.504539  254.649384  141.911148  188.380005  234.577789
2022-12-29  129.059372  256.344330  145.172913  188.910004  235.381348
2022-12-30  129.378006  255.837784  145.596634  190.490005  234.754166

                                                                     ...  \
                   CRM       CSCO         CVX        DIS        DOW  ...
Date                                                                 ...
2000-01-03         NaN  37.228058   17.508461  23.115253        NaN  ...
2000-01-04         NaN  35.139503   17.508461  24.469286        NaN  ...
2000-01-05         NaN  35.031841   17.822517  25.484810        NaN  ...
2000-01-06         NaN  34.450485   18.581488  24.469286        NaN  ...
2000-01-07         NaN  36.474457   18.908615  24.082415        NaN  ...
...                ...        ...         ...        ...        ...  ...
2022-12-23  129.440002  46.067886  172.482574  88.010002  48.917442  ...
2022-12-27  130.660004  46.116398  174.650772  86.370003  49.234840  ...
2022-12-28  128.470001  45.670082  172.074219  84.169998  48.080673  ...
2022-12-29  132.539993  46.087292  173.377090  87.180000  48.715462  ...
2022-12-30  132.589996  46.223129  174.514664  86.879997  48.465397  ...

              Volume                                                           \
                 MRK      MSFT      NKE       PG     TRV       UNH          V
Date
2000-01-03   6265782  53228400  8014400  4275000  336400   3431200        NaN
2000-01-04   7894689  54119000  9810400  4270800  494400   5997600        NaN
2000-01-05   7963018  64059600  6542400  5098400  736000  10562400        NaN
2000-01-06   4989004  54976600  4891200  6524200  660400  15300000        NaN
2000-01-07  10871218  62013600  3993600  9832000  594700  16160800        NaN
...              ...       ...      ...      ...     ...       ...        ...
2022-12-23   4547400  21207000  6603700  3401800  660800   1292300  3246000.0
2022-12-27   5125800  16688600  6661100  4215100  518700   1596700  2904900.0
2022-12-28   5107800  17457100  5437800  4197500  733400   1694200  3139200.0
2022-12-29   4467200  19770700  4588600  3809100  676500   1379700  3675500.0
2022-12-30   5498600  21938500  4355500  4532000  608200   1849600  4159400.0


                  VZ      WBA      WMT
Date
2000-01-03   4663843  2095900  8369900
2000-01-04   5005878  1709100  6745100
2000-01-05   6368681  2167800  7018700
2000-01-06   4705763  2595400  6544500
2000-01-07   5043907  3629900  7976900
...              ...      ...      ...
2022-12-23  16918300  3476700  3182500
2022-12-27  25315900  3940100  3348200
2022-12-28  21793200  4008900  5082100
2022-12-29  17347000  5251500  3057300
2022-12-30  44007200  5406200  3835300

[5787 rows x 180 columns]